.gallery {
  justify-items: center;
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 16px;
}

.container{
  width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
}
