<form class="form">
  <input type="text" name="query">
  <button type='submit'>пошук</button>
</form>

  <div class="glide">
      <h2 class="slide__title">watch trend movies</h2>
      <div class="container__slider">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides"></ul>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
       
      </div>
  </div>



<div class="gallary__stail">
  <ul class="list gallery container">
  </ul>
</div>

<div id="pagination" class="tui-pagination"></div>